body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

span {
  background: url(heart-icon.png);
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translateX(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%, -5000%);
    opacity: 0;
  }
}
